<!-- Liste Depot -->

<div class="card mt-4 widthTable"  data-aos="fade-down" >

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Depot name</th>
        <th scope="col">Emplacement</th>
        <th scope="col">Volume actuel</th>
        <th scope="col">Volume max</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let depot of depots" class="table-secondary">
        <!-- Appel de la méthode pour formater le nom du dépôt -->
        <td>{{ depot.nom_dep }}</td>
        <td>{{ depot.emplacement }}</td>
        <td>{{ depot.volume_actuel }} </td>
        <td>{{ depot.volume_max }}</td>
        <td class="lesBouttons">
          <button
            type="button"
            class="btn btn-warning me-2"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop1"
            (click)="getDepot(depot.id_dep)"
          >
            Update
          </button>
  
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="getDepot(depot.id_dep)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  

  

  <!-- avec de ngx-pagination -->

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled" [class.disabled]=" page === 1 ">
        <a class="page-link" (click)="handlePageChange(page - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPage()); let i= index" [class.active]="i + 1 === page">
        <a class="page-link" (click)="handlePageChange(i + 1)">{{ i + 1}}</a>
      </li>

      <li class="page-item" [class.disabled]="page === totalPage()">
        <a class="page-link" (click)="handlePageChange(page + 1)">Next</a>
      </li>
    </ul>
  </nav>
  <!-- <app-recherche-depot></app-recherche-depot> -->

  <div *ngIf="depots.length === 0">
    <h3>Aucune depot</h3>
  </div>

  <!-- pas de ngx-pagination -->

  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" (click)="page > 1 && handlePageChange(page - 1)">Previous</a>
      </li>

      <li class="page-item" *ngFor="let page of [].constructor(totalPage()); let i = index" [class.active]="i + 1 === page">
        <a class="page-link" (click)="handlePageChange(i + 1)">{{ i + 1 }}</a>
      </li>

      <li class="page-item" [class.disabled]="page === totalPage()">
        <a class="page-link" (click)="page < totalPage() && handlePageChange(page + 1)">Next</a>
      </li>
    </ul>
  </nav>

  <pagination-controls (pageChange)="handlePageChange($event)" [maxSize]="5" [autoHide]="true"></pagination-controls> -->

</div>

<!-- Modal Modification -->
<div  class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modification dépot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="idDepot">
        <form [formGroup]="myForm" class="row g-3" (ngSubmit)="modification()">

          <div class="">
            <label for="validationDefault01" class="form-label">Name</label>
            <input type="text" class="form-control" id="validationDefault01" formControlName="nom_dep" [(ngModel)]="depot.nom_dep" required>
            <!-- Affichage du message d'erreur si le champ nom_dep est invalide -->
            <div *ngIf="myForm.get('nom_dep')?.invalid && myForm.get('nom_dep')?.touched">
              <small class="text-danger" *ngIf="myForm.get('nom_dep')?.errors?.['required']">
                The repository name is required.
              </small>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" [disabled]="myForm.invalid" data-bs-dismiss="modal">Validate</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- modal OUI / Non -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">êtes-vous sûr de supprimer ?</h5>
      </div>
      <div class="modal-footer position-relative">
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger-non me-2">NON</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-success ms-2" (click)="supprimerDep(idDepot!)" >OUI</button>
      </div>
    </div>
  </div>

</div>
