.miseAjour{
  background-color: blue;
  width: 2.5rem;
  height: 39px;
  color: beige;
  border-radius: 7px;
  padding: 8px;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
