  <button type="button" class="btn btnAjout" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  data-aos="fade-up">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Ajout utilisateur
  </button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="myForm" class="row g-3" (ngSubmit)="register()" #ajoutForm="ngForm">
                  <div>
                    <label for="validationDefault01" class="form-label">Role</label>
                    <select formControlName="role" class="form-select" aria-label="Default select example" name="role" [(ngModel)]="role">
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>

                    <div *ngIf="myForm.get('role')?.invalid && myForm.get('role')?.touched">
                      <small class="text-danger" *ngIf="myForm.get('role')?.errors?.['required']">
                        The repository role is required.
                      </small>
                    </div>
                  </div>

                  <div class="">
                    <label for="validationDefault01" class="form-label">email</label>
                    <input type="text" class="form-control" id="validationDefault01" name="email_ut" formControlName="email_ut" [(ngModel)]="email_ut" required>

                    <div *ngIf="myForm.get('email_ut')?.invalid && myForm.get('email_ut')?.touched">
                      <small class="text-danger" *ngIf="myForm.get('email_ut')?.errors?.['required']">
                        The repository email is required.
                      </small>
                    </div>
                  </div>
                  <div class="">
                      <label for="validationDefault01" class="form-label">Password</label>
                      <input type="text" class="form-control" id="validationDefault01" name="mdp_ut" formControlName="mdp_ut" [(ngModel)]="mdp_ut" required>

                      <div *ngIf="myForm.get('mdp_ut')?.invalid && myForm.get('mdp_ut')?.touched">
                        <small class="text-danger" *ngIf="myForm.get('mdp_ut')?.errors?.['required']">
                          The repository password is required.
                        </small>
                      </div>

                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Validate</button>
                  </div>
                </form>
            </div>

        </div>
    </div>
</div>
