<!-- Liste mouvement -->
<div class="card mt-4 widthTable" data-aos="fade-down">
  <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Produit</th>
          <th scope="col">Emplacement</th>
          <th scope="col">Type</th>
          <th scope="col">Date</th>
          <th scope="col">Quantité</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let mouvement of mouvements" class="table-secondary">
          <td>{{mouvement.produit.designation_p}}</td>
          <td>{{mouvement.depot.nom_dep}}</td>
          <td>{{mouvement.type_mvt}}</td>
          <td>{{mouvement.date_mvt|date:"dd-MM-YYYY"}}</td>
          <td>{{mouvement.qtt_mvt}}</td>
          <td class="boutton">

            <app-boutton-update
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop1"
              class="me-2"
              (click)="getMouve(mouvement.id_mvt)">
            </app-boutton-update>

            <app-boutton-delete
            type="button"
            class="btn btn-danger me-2"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            >
            </app-boutton-delete>

            <!-- <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
            (click)="voirLeDetail(mouvement.id_mvt)"
            >desc</button> -->

            <!-- <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
            (click)="voirLeDetail(mouvement.id_mvt)"

            >
            <i class="fa fa-eye" aria-hidden="true">
            </i>
          </button> -->

          </td>
        </tr>
      </tbody>
  </table>
  
  <div *ngIf="mouvements.length === 0">
    <h3>Aucune mouvement</h3>
  </div>

</div>

<!-- modal OUI / Non -->
<div *ngFor="let mouvement of mouvements" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">êtes-vous sûr de supprimer ?</h5>
      </div>
      <div class="modal-footer position-relative">
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger-non me-2">NON</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-success ms-2" (click)="supprimerMouv(mouvement.id_mvt)" >OUI</button>
      </div>
    </div>
  </div>
</div>

<!-- Historique mouvement -->
<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Historique mouvement</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div>
      <span *ngIf="histoMouve">
        <b>Utilisateur</b>  : {{histoMouve.utilisateur.email_ut}} <br>
        <b>Nom depôt</b>  : {{histoMouve.depot.nom_dep}} <br>
        <b>Nom produit</b>  : {{histoMouve.produit.designation_p}} <br>
      </span>
    </div>
  </div>

</div> -->


<!-- Modal Modification -->
<div  class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modification mouvement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="modifMouve">

        <form [formGroup]="myForm" class="row g-3" (ngSubmit)="onModif()">

            <!-- Type Mouvement -->
            <div>
              <label for="typeMouvement" class="form-label">Type mouvement</label>
              <select class="form-select" aria-label="Default select example" formControlName="type_mvt" [(ngModel)]="mouvement.type_mvt">
                <option value="Entrée">Entrée</option>
                <option value="Sortie">Sortie</option>
              </select>
              <div *ngIf="myForm.get('type_mvt')?.invalid && myForm.get('type_mvt')?.touched">
                <small class="text-danger" *ngIf="myForm.get('type_mvt')?.errors?.['required']">
                  Le type de mouvement est obligatoire.
                </small>
              </div>
            </div>

            <!-- Date -->
            <div class="">
              <label for="dateMouvement" class="form-label">Date</label>
              <input type="date" class="form-control" id="dateMouvement" formControlName="date_mvt" [(ngModel)]="mouvement.date_mvt">
              <div *ngIf="myForm.get('date_mvt')?.invalid && myForm.get('date_mvt')?.touched">
                <small class="text-danger" *ngIf="myForm.get('date_mvt')?.errors?.['required']">
                  La date est obligatoire.
                </small>
              </div>
            </div>

            <!-- Quantité -->
            <div class="">
              <label for="qttMouvement" class="form-label">Quantité</label>
              <input type="number" class="form-control" id="qttMouvement" formControlName="qtt_mvt" [(ngModel)]="mouvement.qtt_mvt">
              <div *ngIf="myForm.get('qtt_mvt')?.invalid && myForm.get('qtt_mvt')?.touched">
                <small class="text-danger" *ngIf="myForm.get('qtt_mvt')?.errors?.['required']">
                  La quantité est obligatoire.
                </small>
              </div>
            </div>

            <!-- Dépot -->
            <div>
              <label for="depotMouvement" class="form-label">Dépot</label>
              <select class="form-select" aria-label="Default select example" formControlName="id_dep" [(ngModel)]="mouvement.id_dep">
                <option *ngFor="let depot of depots" [value]="depot.id_dep">
                  {{depot.nom_dep}}
                </option>
              </select>
              <div *ngIf="myForm.get('id_dep')?.invalid && myForm.get('id_dep')?.touched">
                <small class="text-danger" *ngIf="myForm.get('id_dep')?.errors?.['required']">
                  Le dépot est obligatoire.
                </small>
              </div>
            </div>

            <!-- Produit -->
            <div>
              <label for="produitMouvement" class="form-label">Produit</label>
              <select class="form-select" aria-label="Default select example" formControlName="id_p" [(ngModel)]="mouvement.id_p">
                <option *ngFor="let produit of produits" [value]="produit.id_p">
                  {{produit.designation_p}}
                </option>
              </select>
              <div *ngIf="myForm.get('id_p')?.invalid && myForm.get('id_p')?.touched">
                <small class="text-danger" *ngIf="myForm.get('id_p')?.errors?.['required']">
                  Le produit est obligatoire.
                </small>
              </div>
            </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" [disabled]="myForm.invalid" data-bs-dismiss="modal">Validate</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


