<div class="actifLogin">
  <div class="btnVert actif me-2"></div> 
  <div>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ getEmail()}}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a (click)="se_deconnecter()" class="dropdown-item" href="#">Se déconnecter</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>