/* .displayFlex{
  display: flex;
  column-gap: 8vh;
  border: 1px solid #595858;
  padding: 2rem;
  background: rgb(30, 27, 27);
  border-radius: 20px;
  height: 79vh;
  height: 86vh;
} */
.modal{
  color: black;
}

