a:hover {
  border-bottom: 1px white solid;
  transition: 1s;
}

h5{
  color: white;
}
.actif{
  display: flex;
  margin: auto;
  row-gap: 2rem;
}

.lienMenu.active {
  font-weight: bold;
  color: blue;

}

.active {
  border-bottom: 2px red solid;
  padding: 2px;
  background-color: white;
  color: black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}


.bg-navbar{
  background-color: rgb(75, 72, 72);
  position: fixed;
  border-radius: 11px;
  padding: 20px;
  margin-top: 6rem;
  width: 12rem;
  height: 60vh;
}

.icone_menu{
  display: flex;
}

.icone{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}
.menu{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.color-menu{
  color: red;
}