
<!-- Liste Utilisateur -->
<div class="card mt-4 widthTable " data-aos="fade-down">
  <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Rôle</th>
          <th scope="col">Email</th>
          <th scope="col">Password </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilisateur of utilisateurs" class="table-secondary">
          <td> {{utilisateur.role}}</td>
          <td> {{utilisateur.email_ut}}</td>
          <td> {{utilisateur.mdp_ut}}</td>
          <td >
            <!-- <button type="button" class="btn btn-dark me-2">Modif</button> -->
            <!-- <button
            type="button"
            class="btn btn-danger ms-2"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            >supp</button> -->

            <!-- <app-boutton-update
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop1"
            class="me-2"
            >
            </app-boutton-update> -->

            <app-boutton-delete
            type="button"
            class="btn btn-danger ms-2"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="setIdDelete(utilisateur.id_ut)"
            >
            </app-boutton-delete>

          </td>
        </tr>
  </table>
  <div *ngIf="utilisateurs.length === 0">
    <h3>Aucune utilisateur</h3>
  </div>
</div>

<!-- modal OUI / Non -->
<div *ngFor="let utilisateur of utilisateurs" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">êtes-vous sûr de supprimer ?</h5>
      </div>
      <div class="modal-footer position-relative">
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger-non me-2">NON</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-success ms-2" (click)="supprimerUtili(idDelete!)" >OUI</button>
      </div>
    </div>
  </div>
</div>

