<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let emplacement of Emplacements">
      <div class="card mb-4 bg-dark text-white shadow-sm" [ngClass]="getClassByPercentage(emplacement.pourcentage)">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">
            <span>{{ emplacement.depot.nom_dep }}</span>
            <i class="fa fa-warehouse" aria-hidden="true"></i>
          </h5>
          <h6><i class="fa fa-
            " aria-hidden="true"></i> {{ emplacement.nom_em }}</h6>
          <!-- Texte supplémentaire -->
          <p class="card-text">
            {{ emplacement.pourcentage >= 100 ? 'Plein' : emplacement.pourcentage ? (emplacement.pourcentage | number: '1.2-2' ) + ' % restant' : '100 % disponible' }}          
          </p>
          <p class="card-text text-light">
            Volume maximale : {{ emplacement.volume_max }} m³
          </p>
          <p class="card-text text-light">
            Volume actuelle : {{ emplacement.volume_actuel }} m³
          </p>

          <!-- Button trigger modal -->
          <button 
          *ngIf="emplacement.volume_actuel > 0"
            type="button" 
            class="btn btn-outline-light btn-sm mt-3 w-100" 
            data-bs-toggle="modal" 
            data-bs-target="#exampleModal"
            (click)="voirLeDetail(emplacement.id_em)"
          >
            <i class="fa fa-eye" aria-hidden="true"></i> Voir Détails
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark text-white fixed-modal">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="exampleModalLabel">Détails de l'emplacement</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body-scrollable">

        <!-- emplacement-detail.component.html -->
        <div *ngIf="emplacement">
          <h3 class="mb-3">Emplacement: {{ emplacement.nom_em }}</h3>

          <div class="mb-4">
            <h4 class="mb-2">Dépot: {{ emplacement.depot.nom_dep }}</h4>
            <p>Capacité actuelle: {{ emplacement.volume_actuel }} / {{ emplacement.volume_max }}</p>
          </div>

          <div *ngFor="let stock of emplacement.depot.stocks" class="border-top pt-3 mt-3">
            <h5 class="mb-2">Produit: {{ stock.produit.designation_p }}</h5>
            <p>Quantité en stock: {{ stock.qtt_st }}</p>
            <p>Prix: {{ stock.produit.prix_p }} Ariary</p>
            <p>Catégorie: {{ stock.produit.categorie_p }}</p>
            <p>Volume produit: {{ stock.produit.volume }} m³</p>
          </div>
        </div>

      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
