<div class="dashboard-container">
  <!-- Barre latérale pour le menu -->
  <div class="sidebar">
    <app-navbar></app-navbar>
    <app-seDeconnecter></app-seDeconnecter>
  </div>

  <!-- Contenu principal du tableau de bord -->
  <div class="main-content">
    <h1 class="titre">{{ titre }}</h1>

    <!-- Autres composants du tableau de bord -->
    <div class="dashboard-cards">
      <!-- Exemple de carte dans le dashboard -->
      <app-pourcentage ></app-pourcentage>
    </div>
  </div>
</div>
